<% provide(:title, 'Woktop - Edit Profile') %>
<h1 class="roboto text-center text-super-large lowercase"><span class="black">Edit</span><span class="green">Profile</span></h1>
<div class="row">
	<%= form_for @user, url: '/profile/edit' do |f| %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= f.text_field :first_name, placeholder: "First name" %>
		</div>
		<% if @errors %></div><% end %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= f.text_field :last_name, placeholder: "Last name" %>
		</div>
		<% if @errors %></div><% end %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= f.text_field :email, placeholder: "Email address" %>
		</div>
		<% if @errors %></div><% end %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= f.password_field :password, placeholder: "Password" %>
		</div>
		<% if @errors %></div><% end %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= f.password_field :password_confirmation, placeholder: "Password again" %>
		</div>
		<% if @errors %></div><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= f.submit "Save Changes!", class: "large button expand" %>
		</div>
	<% end %>
</div>