<% provide(:title, 'Woktop - Signup') %>
<div class="row">
	<div class="hero">
		<h1 class="large-6 large-centered columns text-center roboto lowercase text-normal text-super-large"><span class="black">Sign</span><span class="green">up</span></h1>
	</div>
</div>
<div class="row">
	<%= form_tag '/signup', autocomplete: "off" do %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= text_field_tag :email, params[:email], placeholder: "Email address" %>
		</div>
		<% if @errors %></div><% end %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= password_field_tag :password, params[:password], placeholder: "Password" %>
		</div>
		<% if @errors %></div><% end %>
		<% if @errors %><div class="error"><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= password_field_tag :password_confirmation, params[:password_confirmation], placeholder: "Password again" %>
		</div>
		<% if @errors %></div><% end %>
		<div class="small-12 large-6 small-centered large-centered columns">
			<%= submit_tag "Let's go!", class: "large button expand" %>
		</div>
	<% end %>
	
	<div class="small-12 large-6 small-centered large-centered columns">
		<p class="text-center">Already signed up? <%= link_to "Sign in here!", login_path %></p>
	</div>
</div>