<% provide(:title, 'Woktop - Profile') %>
<h1 class="roboto text-center text-super-large lowercase"><span class="black">Your</span><span class="green">Files</span></h1>

<div class="infiniteLoader" data-dropbox-uids="<%= @dropbox_users.map(&:uid).join(",") %>"></div>

<div class="files row"></div>

<!--
<div class="row">
  	<div class="small-12 large-12 columns fileAccount" data-dropbox-uid="UID">
		<div class="row">
			<h3 class='hide-for-small subheader large-4 columns'>NAME</h3>
			<h3 class='show-for-small small-12 text-center'>NAME</h3>
			<div class="small-7 large-6 columns progressBar">
				<div class="progress"><span class="meter" style="width: 45%;">45%</span></div>
			</div>
			<ul class="inline-list small-5 large-2 columns dropboxTools">
				<li><a href="#"><span aria-hidden="true" class="icon-upload"></span></a></li>
				<li><a href="#"><span aria-hidden="true" class="icon-search"></span></a></li>
				<li><a href="#"><span aria-hidden="true" class="icon-tools"></span></a></li>
				<li><a href="#" class="inactive"><span aria-hidden="true" class="icon-trash"></span></a></li>
			</ul>
		</div>
		<table class='small-12 large-12 woktopFilesList' data-dropbox-uid='UID'>
			<thead>
				<th width="100" class='fileType'><span>Type</span></th>
				<th class='fileName'><span>Name</span></th>
				<th width="100" class='fileSize'><span>Size</span></th>
			</thead>
			<tbody>
				<tr class="file" data-dropbox-id="FILE-ID" data-dropbox-directory="DIRECTORY" data-dropbox-type="TYPE" data-dropbox-rev="REV" data-dropbox-size="SIZE" data-dropbox-path="PATH">
					<td class='fileType'><div class="app-icon THE-ICON">TYPE</div></td>
					<td class='fileName'><a href="#" data-dropbox-directory="DIRECTORY" data-dropbox-id="FILE-ID">NAME</a></td>
					<td class='fileSize'>SIZE</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
-->

<% if session[:new_dropbox] %>
<div class="window" data-form-type="nameDropbox" data-dropbox-uid="<%= session[:new_dropbox] %>">
	<div class="titleBar">
    	<h3>Name this Dropbox</h3>
    </div>
    <div class="windowContent">
    	<input type="text" name="newDropboxName" style="margin-top: 10px; width: 380px;" placeholder="My new Dropbox!">
    </div>
    <div class="buttons">
    	<button>Save changes</button>
    </div>
</div>
<div class="theOverlay"></div>
<% end %>

<% if !@dropbox_users.blank? %>
<div class="window" style="display: none;" data-form-type="editFileDropbox" data-dropbox-uid="0">
	<div class="titleBar">
    	<h3>Edit Dropbox</h3>
		<span class="close">x</span>
    </div>
    <div class="windowContent">
    	<%= form_for @dropbox_users, url: '/dropbox/accounts/update', :method => "put" do |f| %>
			<%= f.text_field :name, placeholder: "Name" %>
			<%= f.hidden_field :uid, value: "0" %>
    </div>
    <div class="buttons">
    		<%= f.submit "Save changes" %>
		<% end %>
		<button class="danger" name="dropboxRemove">Remove dropbox</button>
    </div>
</div>
<div class="theOverlay" style="display: none;"></div>
<% end %>