<% provide(:title, 'Woktop - Organize all of your online files') %>
<h1 id="title"><%= link_to(profile_url) do %>Your<span class="green">files</span><% end %></h1>
<ul id="organizeNav">
	<li><%= link_to "<span aria-hidden='true' class='icon-list'></span>".html_safe, profile_path, :class => 'button btnIcon signBtn' %></li>
	<li><%= link_to "<span aria-hidden='true' class='icon-layout'></span>".html_safe, profile_path, :class => 'button btnIcon signBtn' %></li>
	<li><%= link_to "<span aria-hidden='true' class='icon-docs'></span>".html_safe, profile_path, :class => 'button btnIcon signBtn' %></li>
</ul>
<ul id="nav">
	<% if @auth_url %><li><%= link_to "<span aria-hidden='true' class='icon-dropbox'></span>".html_safe, @auth_url, :title => "Add Dropbox", :class => 'button btnIcon signBtn' %></li><% end %>
	<li><%= link_to "<span aria-hidden='true' class='icon-help'></span>".html_safe, logout_path, :title => "About", :class => 'button btnIcon signBtn' %></li>
	<li><%= link_to "<span aria-hidden='true' class='icon-tools'></span>".html_safe, editprofile_path, :title => "Edit Profile", :class => 'button btnIcon signBtn' %></li>
	<li><%= link_to "<span aria-hidden='true' class='icon-logout'></span>".html_safe, logout_path, :method => "delete", :title => "Logout", :class => 'button btnIcon signBtn' %></li>
</ul>

<div class="infiniteLoader" data-dropbox-uids="<%= @dropbox_users.map(&:uid).join(",") %>"></div>

<% if session[:new_dropbox] %>
<div class="window" data-form-type="nameDropbox" data-dropbox-uid="<%= session[:new_dropbox] %>">
	<div class="titleBar">
    	<h3>Name this Dropbox</h3>
    </div>
    <div class="windowContent">
    	<input type="text" name="newDropboxName" style="margin-top: 10px; width: 380px;" placeholder="My new Dropbox!">
    </div>
    <div class="buttons">
    	<button>Save changes</button>
    </div>
</div>
<div class="theOverlay"></div>
<% end %>

<% if !@dropbox_users.blank? %>
<div class="window" style="display: none;" data-form-type="editFileDropbox" data-dropbox-uid="0">
	<div class="titleBar">
    	<h3>Edit Dropbox</h3>
		<span class="close">x</span>
    </div>
    <div class="windowContent">
    	<%= form_for @dropbox_users, url: '/dropbox/accounts/update', :method => "put" do |f| %>
			<%= f.text_field :name, placeholder: "Name" %>
			<%= f.hidden_field :uid, value: "0" %>
    </div>
    <div class="buttons">
    		<%= f.submit "Save changes" %>
		<% end %>
		<button class="danger" name="dropboxRemove">Remove dropbox</button>
    </div>
</div>
<div class="theOverlay" style="display: none;"></div>
<% end %>

<div class="container_12">
	<div ng-controller="DropboxCtrl" class="files listView">
	  	<div class="fileAccount" ng-repeat="dropbox in dropboxAccounts" data-dropbox-uid="{{dropbox.data.uid}}">
			<h2 class='grid_4 alpha'>{{dropbox.data.name}}</h2>
			<div class="progressBar grid_6" ng-init="thePercent=getPercent(dropbox.data)">
				<div class="progress" ng-class="{progressLittle: thePercent < 2}" style="width: {{thePercent}}%;"><span class="desc1">{{thePercent}}%</span></div>
				<div class="remainder" style="width: {{100 - thePercent}}%;"></div>
			</div>
			<ul class="dropboxTools grid_2 omega">
				<li><a href="#"><span aria-hidden="true" class="icon-upload"></span></a></li>
				<li><a href="#"><span aria-hidden="true" class="icon-search"></span></a></li>
				<li><a href="#"><span aria-hidden="true" class="icon-tools"></span></a></li>
				<li><a href="#" class="inactive"><span aria-hidden="true" class="icon-trash"></span></a></li>
			</ul>
			<table class='table grid_12 alpha woktopFilesList' data-dropbox-uid='{{dropbox.data.uid}}'>
				<thead>
					<th class='fileType' data-sort='string'><span>Type</span></th>
					<th class='fileName' data-sort='filename'><span>Name</span><span class='downArrow'></span></th>
					<th class='fileSize' data-sort='filesize'><span>Size</span></th>
				</thead>
				<tbody ng-repeat="dbFiles in dropboxFiles | filter:dropbox.data.uid">
					<tr class="file" ng-repeat="file in dbFiles.data" data-dropbox-id="{{file.id}}" data-dropbox-directory="{{file.directory}}" data-dropbox-type="{{file.fileType}}" data-dropbox-rev="{{file.rev}}" data-dropbox-size="{{file.size}}" data-dropbox-path="{{file.path}}">
						<td class='fileType'><div class="app-icon {{getIcon(file)}}">{{file.fileType}}</div></td>
						<td class='fileName'>{{file.name}}</td>
						<td class='fileSize'>{{file.size}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div ng-controller="DropboxCtrl" class="files thumbnailView">
	  	<div class="fileAccount" ng-repeat="dropbox in dropboxAccounts" data-dropbox-uid="{{dropbox.data.uid}}">
			<h2 class='grid_4 alpha'>{{dropbox.data.name}}</h2>
			<div class="progressBar grid_6" ng-init="thePercent=getPercent(dropbox.data)">
				<div class="progress" ng-class="{progressLittle: thePercent < 2}" style="width: {{thePercent}}%;"><span class="desc1">{{thePercent}}%</span></div>
				<div class="remainder" style="width: {{100 - thePercent}}%;"></div>
			</div>
			<ul class="dropboxTools grid_2 omega">
				<li><a href="#"><span aria-hidden="true" class="icon-upload"></span></a></li>
				<li><a href="#"><span aria-hidden="true" class="icon-search"></span></a></li>
				<li><a href="#"><span aria-hidden="true" class="icon-tools"></span></a></li>
				<li><a href="#" class="inactive"><span aria-hidden="true" class="icon-trash"></span></a></li>
			</ul>
			<ul class='woktopFilesList grid_12 alpha' data-dropbox-uid='{{dropbox.data.uid}}' ng-repeat="dbFiles in dropboxFiles | filter:dropbox.data.uid">
				<li class="file grid_2" ng-class="{alpha: $index%6==0,omega: ($index+1)%6==0}"ng-repeat="file in dbFiles.data" data-dropbox-id="{{file.id}}" data-dropbox-directory="{{file.directory}}" data-dropbox-type="{{file.fileType}}" data-dropbox-rev="{{file.rev}}" data-dropbox-size="{{file.size}}" data-dropbox-path="{{file.path}}">
					<div class="app-icon {{getIcon(file)}}">{{file.fileType}}</div>
					<p class='fileName aligncenter'>{{file.name}}</p>
				</li>
			</ul>
		</div>
	</div>
	<div ng-controller="DropboxCtrl" class="files desktopView">
	  	<h2 class="aligncenter">Desktop view coming soon...</h2>
	</div>
</div>